<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
      <!-- Vendor CSS Files for icons -->
      <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

</head>
<body>
      <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="align-items-center d-none d-md-flex">
        <i class="bi bi-clock"></i> Monday - Saturday, 8AM to 10PM
      </div>
      <div class="d-flex align-items-center">
        <i class="bi bi-phone"></i> Call us now +1 5589 55488 55
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="index.html" class="logo"><img src="{% static 'images/logo1.jpg' %}" alt=""></a>
      <h1 class="ms-3 me-auto">Lotus</h1>

      <a href="/home/"><button class="btn btn-warning ms-3">Back</button></a>
      <a href="/"><button class="btn btn-danger ms-3">Log Out</button></a>

    </div>
  </header><!-- End Header -->

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Make an Appointment</h2>
            <p> “If you’re not paying for it through the health plan, you pay for it in the emergency room.” </p>
          </div>
  
          <form action="/appointment/" method="post" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-4 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-4 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="col-md-4 form-group mt-3 mt-md-0">
                <input type="number" class="form-control" name="mobile" id="phone" placeholder="Your Phone" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 form-group mt-3">
                <input type="date" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" required>
              </div>
              <div class="col-md-4 form-group mt-3">
                <select name="department" id="department" class="form-select form-control">
                  <option selected>Select Department</option>
                  {% for d in doctors %}
                  <option value="{{d.id}}">{{d.department}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4 form-group mt-3">
                <select name="doctor" id="doctor" class="form-select">
                  <option selected>Select Doctor</option>
                  {% for d in doctors %}
                  <option value="{{d.id}}">{{d.dname}} {{d.specialist}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="text-center mt-4">
              <button type="submit">Make an Appointment</button>
            </div><br><br>
            {% if  messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
              <strong>Message:</strong> {{message}}
              <button type="button" class="btn-close" dat-bs-dismiss="alert" aria-label="close"></button>
            </div>
            {% endfor %}
            {% endif %}
          </form> 
        </div>
      </section><!-- End Appointment Section -->

      <div class="row mt-4 mb-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Total Appointments</h6>
                </div>

              </div>
            </div>
            {% if appointment %}
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">PName</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mobile</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Doctor</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Department</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in appointment %}
                    <tr>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">{{i.id}}</span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">{{i.pname}}</span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">{{i.email}}</span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">{{i.mobile}}</span>
                      </td>
                      
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">{{i.date}}</span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">{{i.doctor.dname}}</span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">{{i.department.department}}</span>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <h4 class="text-center alert alert-warning">No Records</h4>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
  

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                  <h3>Lotus</h3>
                  <p>
                    Sapna Sangeeta, indore India <br>
                    128/47 new agrawal nagar<br><br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Mobile:</strong> +91 7047257520<br>
                    <strong>Email:</strong> lotus@gmail.com<br>
                  </p>
                  <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Centers</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <span>Indore</span></li>
                  <li><i class="bx bx-chevron-right"></i> <span>Delhi</span></li>
                  <li><i class="bx bx-chevron-right"></i> <span>Ahemdabad</span></li>
                  <li><i class="bx bx-chevron-right"></i> <span>Ratlam</span></li>
                  <li><i class="bx bx-chevron-right"></i> <span>Udaipur</span></li>
                  <li><i class="bx bx-chevron-right"></i> <span>Jaipur</span></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i><span href="#">Emergency room services.</span></li>
                  <li><i class="bx bx-chevron-right"></i><span href="#">Short-term hospitalization.</span></li>
                  <li><i class="bx bx-chevron-right"></i><span href="#">X-ray/radiology services.</span></li>
                  <li><i class="bx bx-chevron-right"></i><span href="#">General and specialty surgical services.</span></li>
                  <li><i class="bx bx-chevron-right"></i><span href="#">Blood services.</span></li>
                  <li><i class="bx bx-chevron-right"></i><span href="#">Laboratory services.</span></li>
                </ul>
              </div>
    
              <div class="col-lg-4 col-md-6">
                <h4>Our Newsletter</h4>
                <p>Daily News of Lotus Hospital is published on www.lotus.com</p>
                <form action="" method="">
                  <div class="text-center mt-4 mx-2">
                    <input type="email" name="email" placeholder="Enter Your Email" class="border border-info form-control">
                  </div>
                  <div class="text-center mt-4 mb-2">
                    <button type="submit" class="btn btn-info">Subscribe</button>
                  </div>
                </form> 
              </div>
            </div>
          </div>
        </div>
    
        <div class="container">
          <div class="text-center mt-3">
            &copy; Copyright <strong><span>Lotus</span></strong>. All Rights Reserved
          </div>
          <div class="text-center">
            Designed by Sharma
          </div>
        </div>
      </footer><!-- End Footer -->

</body>
</html>
